<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="4MQonxSUy0E9eN9DkUADiUEPUO3_WPYNjGwJhWfb_PA" charset="UTF-8" />
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'index.css') }}">
</head>
<body>

<h1 align="center">Welcome to Cricket-API</h1>
<br>
<img src="{{ url_for('static', filename = 'cricket.jpg') }}" height="580px" width="80%" style="position:relative;left:10%; border-radius:10px;">

</body>
</html>